page-login-options {
  ion-content {
    background: yellow !important;
    background: linear-gradient(to bottom, #141E30, #243B55) !important;
  }
  .branding-wrapper {
    height: 45%;
    padding-top: 20%;
    text-align: center;
    color: white;
    border: 1px solid #999;
  }
}
