// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../login/pages/login-options/login-options.scss';
@import '../login/pages/login-otp/login-otp.scss';
@import '../home/pages/home/home.scss';
@import '../history/pages/history/history.scss';
@import '../settings/pages/settings/settings.scss';
@import '../booking/pages/ride-now/ride-now.scss';
@import '../booking/pages/ride-later/ride-later.scss';
@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('../assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Ubuntu-Regular';
  letter-spacing: 1px;
}

//Select Pop over custom styles
ion-popover.select-popover {
  .popover-wrapper {
    .popover-arrow {
      display: none;
    }
    .popover-content {
      left: 0px !important;
      width: 100%;
      ion-radio {
        opacity: 0;
      }
    }
  }
}

//Select action sheet custom styles
ion-action-sheet.select-action-sheet {
  .action-sheet-wrapper {
    .action-sheet-container {
      padding-top: 0;
      .action-sheet-group {
        .action-sheet-title {
          background: black;
          color: white;
        }
        button {
          color: black
        }
        .action-sheet-cancel {
          display: none;
        }
      }
    }
  }
}
